<div class='container'>
  <%= form_for @question, html: { class: 'form-sign' } do |f| %>
    <h2 class='form-sign-heading'>Ask a Question</h2>
    <%= f.label :title, class: 'sr-only' %>
    <%= f.text_field :title, class: 'form-control', placeholder: "What's your question? Be specific." %>

    <%= f.label :body, class: 'sr-only' %>
    <%= f.text_area :body, class: 'form-control', placeholder: 'Explain the context of your question.' %>

    <%= label_tag(:tag_tag_names, 'Tags', class: 'sr-only') %>
    <%= text_field(:tag, :tag_names, class: 'form-control', placeholder: 'Add up to 5 tags.') %>

    <%= f.submit 'Post Your Question', class: 'btn btn-lg btn-primary btn-block' %>
  <% end %>
</div>
