<h1><%= @question.title %></h1>
<p><%= @question.body %></p>

Vote Rating: <%= @question.upvoters.length - @question.downvoters.length %>

<br>

<%= link_to "Upvote", create_vote_question_url(@question, vote: { upvoted: true }), method: :post %>
<%= link_to "Downvote", create_vote_question_url(@question, vote: { upvoted: false }), method: :post %>

<br>

Tags:

<ul>
  <% @question.tags.each do |tag| %>
    <li><%= link_to tag.name, tag_url(tag) %> <%= link_to "Remove", destroy_tag_question_url(@question, tag_id: tag), method: :delete %></li>
  <% end %>
</ul>

<% if @question.tags.length < 5 %>
  <%= form_tag(create_tags_question_url(@question), method: :post) do %>
    <%= label_tag :tag_tag_names, "Tag Name" %>
    <%= text_field :tag, :tag_names %>
    <%= submit_tag("Add Tag") %>
  <% end %>
<% end %>

<br>

Add a response:

  <%= form_tag(question_responses_url(@question), method: :post) do %>
    <%= text_area :response, :body, value: "" %>
    <%= submit_tag("Add Response") %>
  <% end %>

Responses:

<ul>
  <% @question.responses.each do |response| %>
    <li>
      <%= response.upvoters.length - response.downvoters.length %>

      <%= link_to "Upvote", create_vote_question_response_url(@question, response, vote: { upvoted: true }), method: :post %>
      <%= link_to "Downvote", create_vote_question_response_url(@question, response, vote: { upvoted: false }), method: :post %>

      <br>
      <%= response.author.name %>
      <br>
      <%= response.body %>
      <%= link_to "Delete", question_response_url(@question, response), method: :delete %>
    </li>
  <% end %>
</ul>