<h1><%= @question.title %></h1>
<p><%= @question.body %></p>

Vote Rating: <%= @question.upvoters.length - @question.downvoters.length %>

<br>

<%= link_to "Upvote", vote_question_url(question: { upvoted?: true }), method: :post %>
<%= link_to "Downvote", vote_question_url(question: { upvoted?: false }), method: :post %>

<br>

Tags:

<ul>
  <% @question.tags.each do |tag| %>
    <li><%= link_to tag.name, tag_url(tag) %> <%= link_to "Remove", destroy_tag_assignment_question_url(question: { tag_id: tag }), method: :delete %></li>
  <% end %>
</ul>

<% if @question.tags.length < 5 %>
  <%= form_tag(create_tags_question_url, method: :post) do %>
    <%= label_tag :question_tag_names, "Tag Name" %>
    <%= text_field :question, :tag_names, value: "" %>
    <%= submit_tag("Add Tag") %>
  <% end %>
<% end %>
