<h1><%= @question.title %></h1>
<p><%= @question.body %></p>

<%= @question.view_count %>

Vote Rating: <%= @question.vote_rating %>

<%= link_to "Upvote", votes_url(up?: true, voteable_id: @question, voteable_type: "Question"), method: :post %>
<%= link_to "Downvote", votes_url(up?: false, voteable_id: @question, voteable_type: "Question"), method: :post %>